
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#flash-message {
  position: absolute;
  bottom: 2pt;
  right: 4pt;
  z-index: 10;
}